option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_KEY: base64:WNQely+AaRWsO8mhMz9OFHjoTiFkGdPdLGGme7eKCDk=
    APP_DEBUG: false
    DB_CONNECTION: mysql
    DB_HOST: venuebook.c7i2igocwris.eu-north-1.rds.amazonaws.com
    DB_PORT: 3306
    DB_DATABASE: venuebook
    DB_USERNAME: admin
    DB_PASSWORD: ELt9u0fkD09NTcXY6DMM
    AWS_ACCESS_KEY_ID: AKIAXYKJQMOMMSE2YQMV
    AWS_SECRET_ACCESS_KEY: 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
    AWS_DEFAULT_REGION: eu-north-1
    AWS_BUCKET: venuebook-backend-storage
    FILESYSTEM_DISK: s3
    SESSION_DRIVER: database
    CACHE_STORE: database
    QUEUE_CONNECTION: database
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: 512M
    max_execution_time: 60
